Ice.Default.Locator={{ ice_locator }}

IceGrid.Node.Name=node1
IceGrid.Node.Endpoints=default -p 30003
IceGrid.Node.Data=/opt/ice/node1/db/node1

Ice.Override.Timeout=10000

Ice.StdErr=/opt/ice/node1/db/node1/stderr.txt
Ice.StdOut=/opt/ice/node1/db/node1/stdout.txt

Ice.ProgramName=node1
IceGrid.Node.Trace.Replica=2

#该项配置是在通过sentinel集群对redis主从进行故障切换使用的
#配置内容为：sentinel集群中每个sentinel的ip和端口信息，并且以逗号分隔
Redis.Connection={{ redis_sentinel_group }}
