application.name=gc

#kafka服务器集群地址
bootstrap.servers={{ kafka_group }}
group.id=gc_group2
#zookeeper服务器集群地址
zookeeper.servers={{ zk_group }}
#zookeeper连接超时时间，单位：ms
zk.connection.timeout=2000
#zookeeper会话超时时间，单位：ms
zk.session.timeout=2000
#ice addr
ice.addr={{ ice_locator }}
#topic 分区数
topic.partions=1
#topic 副本数量
topic.replication=1
#当前gc节点的topic名称
topic.gc.name = gc_instance86
#当前gc节点所在的topic组名称
topic.gc.group.name = gc_group_20170906
#consumer client id
consumer.client.id=client86
#每一个sC集群都有一个所在的topic组
topic.sc.group.name = sc_group_20170906

#消息协议版本(kafka消息的读写版本号）
message.protocol.version = 1

#返回规则实例规则最大个数
max.instance.size = 10

#分布式锁配置
lock.root.path = /gclock
#getStream接口锁的超时时间,单位：s
lock.getStream.timeout=4

#service register parent node
service.parent.node=/fsp/gc

