#sqlite db path
sqlite.url=/opt/fsp-rule-1.0-SNAPSHOT/conf/iplib.db
rule.conf = /opt/fsp-rule-1.0-SNAPSHOT/conf/rule-config.xml

#ice addr
ice.addr={{ ice_locator }}

zookeeper.servers={{ zk_group }}
#zookeeper连接超时时间，单位：ms
zk.connection.timeout=2000
#zookeeper会话超时时间，单位：ms
zk.session.timeout=2000

#返回规则实例规则最大个数
max.instance.size = 10

#service register parent node
service.parent.node=/fsp/rule
#service instance id
service.instance=rule_instance
