<?xml version="1.0" encoding="UTF-8" ?>
<Root>
    <NATIPList>
    </NATIPList>
    <!--日志保存天数-->
    <LogSaveDays>15</LogSaveDays>     
    <DBProxy>
        <DBSrvAppID>32</DBSrvAppID>
        <DBServer>TCP:192.168.5.195:1088;</DBServer>
        <DBPort>1088</DBPort>
        <DBName>fsboss</DBName>
        <DBUser>test</DBUser>
        <DBPassword>test</DBPassword>
    </DBProxy>  
    <DB>
        <DBServer>192.168.5.69</DBServer>
        <DBPort>3306</DBPort>
        <DBName>fsboss</DBName>
        <DBUser>fsboss</DBUser>
        <DBPassword>fsboss</DBPassword>
    </DB> 
    <ICEServer>
		<FMDBParam>ice.property.cfg</FMDBParam>
    </ICEServer>
	<!--
    <ICEServer>
        <DBServer>120.24.85.241</DBServer>
        <DBPort>10001</DBPort>
    </ICEServer>
    <ICEServer>
        <DBServer>192.168.5.56</DBServer>
        <DBPort>10001</DBPort>
    </ICEServer>
	-->
    <Contrast>
        <DBSrvAppID>32</DBSrvAppID>
        <DBServer>TCP:127.0.0.1:1088;</DBServer>
        <DBPort>1088</DBPort>
        <DBName>fsboss</DBName>
        <DBUser>test</DBUser>
        <DBPassword>test</DBPassword>
    </Contrast>
    <Contrast>
        <DBServer>192.168.5.223</DBServer>
        <DBPort>10001</DBPort>
    </Contrast>
    <!--数据库访问类型 0 直接访问mysql 1 访问数据库代理DBProxy-->
    <DBAccessType>3</DBAccessType>
    <!--是否启动数据库同步模式，用于云平台，企业平台不支持-->
    <UseDBSyncMode>1</UseDBSyncMode>
    <FrontService>
        <AppID>20</AppID>
        <AddrLink>TCP:{{ front_addr }}:1089;</AddrLink>
    </FrontService>
    <Dev>
        <DevID>{{ dev_id }}</DevID>
        <VerifyCode>{{ verify_code }}</VerifyCode>
        <DevType>1</DevType>
    </Dev>
    <ProcessList>
        <ServiceProcess>
            <ProcessName>FM_Server</ProcessName>
            <ListenList>
                <Listen>
                    <Addr>0</Addr>
                    <Protocol>TCP</Protocol>
                    <Port>1089</Port>
                </Listen>
                <Listen>
                    <Addr>0</Addr>
                    <Protocol>UDP</Protocol>
                    <Port>1089</Port>
                </Listen>
            </ListenList>
            <Service>
                <Guid>{53A92211-0041-47e1-9C6C-80DF6F496FF6}</Guid>
                <Name>DevProxy</Name>
                <Priority>7</Priority>
                <ApplicationID>31</ApplicationID>
                <Config />
            </Service>
            <Service>
                <Guid>{0293626F-D5F9-4d06-9522-FE0455D68E11}</Guid>
                <Name>FMVerSrv</Name>
                <Priority>3</Priority>
                <ApplicationID>30</ApplicationID>
                <Config>
                    <DefaultProduct>FMS101ZX</DefaultProduct>
                    <Product>
                        <ProductID>FMS001</ProductID>
                        <NewVersion>03.09.01.00</NewVersion>
                        <MinVersion>03.08.03.03</MinVersion>
                        <DownloadURL>http://fs.fsmeeting.com/download/FMDesktopYUNV3.8.4.2.exe</DownloadURL>
                        <DownloadURL>http://122.225.104.210/download/FMDesktopYUNV3.8.4.2.exe</DownloadURL>
                        <DownloadURL>http://60.12.108.210/download/FMDesktopYUNV3.8.4.2.exe</DownloadURL>
                    </Product>
                    <Product>
                        <ProductID>FMS101</ProductID>
                        <NewVersion>03.08.04.02</NewVersion>
                        <MinVersion>03.08.03.03</MinVersion>
                        <DownloadURL>http://fs.fsmeeting.com/download/FMDesktopYUNV3.8.4.2.exe</DownloadURL>
                    </Product>
                    <Product>
                        <ProductID>FMS101ZX</ProductID>
                        <NewVersion>03.08.03.03</NewVersion>
                        <MinVersion>03.08.03.03</MinVersion>
                        <DownloadURL>http://fs.fsmeeting.com/download/FMDesktopZXV3.8.exe</DownloadURL>
                    </Product>
                </Config>
            </Service>
            <Service>
                <Guid>{77186EA4-1B84-435c-BEAA-5846069E90B1}</Guid>
                <Name>FMFrontSrv</Name>
                <Priority>2</Priority>
                <ApplicationID>20</ApplicationID>
                <Config>
                    <!--系统状态 0 正常 1 系统正在维护 2 系统访问人数过多-->
                    <SystemState>0</SystemState>
                    <LicenseFile>license.dat</LicenseFile>
                    <ParentNodeUpdateCheck>60000</ParentNodeUpdateCheck>
                    <NetConnType>1</NetConnType>
                    <!--非注册用户ID自动生成的增量值<，必须>=入口服务器数量-->
                    <auto_increment_increment>2</auto_increment_increment>
                    <!--非注册用户ID自动生成的偏移值<，1<=偏移值<=auto_increment_increment
                        每台入口服务器的偏移值不能取相同的值-->
                    <auto_increment_offset>2</auto_increment_offset>
                    <CascadeConfig>CascadeConfig.xml</CascadeConfig>
					<AccessConfig>AccessConfig.xml</AccessConfig>
					<IPLibConfig>iplib.db</IPLibConfig>
                    <ConfCtlIceServer>
						<Port>10010</Port>
					</ConfCtlIceServer>
                    <!-- 是否支持电话接入，0:不支持，1:支持 -->
                    <PhoneAccess>1</PhoneAccess>
					<!-- 会议服务器最大访问量-->
	                <LoginReqListMaxSize>100</LoginReqListMaxSize>
                </Config>
            </Service>
			<Service>
				<Guid>{F42098BF-E820-4881-97C3-27A34B16D20A}</Guid>
				<Name>FMAVSrv</Name>
				<Priority>4</Priority>
				<ApplicationID>1</ApplicationID>
				<Config />
			</Service>
			<Service>
				<Guid>{0CE5960D-0D77-454a-917D-EE22166B3F52}</Guid>
				<Name>FMVncSrv</Name>
				<Priority>4</Priority>
				<ApplicationID>2</ApplicationID>
				<Config />
			</Service>
			<Service>
				<Guid>{D135B8B6-B338-4d79-BA65-26EDB9107361}</Guid>
				<Name>FMFileMgrSrv</Name>
				<Priority>5</Priority>
				<ApplicationID>10</ApplicationID>
				<Config>
				</Config>
			</Service>
            <Service>
                <Guid>{7D47B2F8-AF37-4464-8EDB-FA3F9C55E10C}</Guid>
                <Name>FMFileSrv</Name>
                <Priority>2</Priority>
                <ApplicationID>3</ApplicationID>
                <Config>
                    <FileSavePath>/Files</FileSavePath>
					<!-- 新的文件节点具有检测上传文件到分布式的功能-->
					<CheckUpLoadFile>1</CheckUpLoadFile>
					<!-- 是否是分布式节点服务器-->
					<MainService>0</MainService>
					<DistributeFileSrv>0</DistributeFileSrv>
					<DiskWarningPercent>80</DiskWarningPercent>
					<!--设置存储磁盘，优先级低于默认磁盘，优先级越高，越先使用-->
					<ExtendDisk>
							<Priority>2</Priority>
							<FileDisk>/root</FileDisk>
					</ExtendDisk>
                </Config>
            </Service>     
			<Service>
				<Guid>{B25E583F-E4BE-4b2d-AC99-897D3CFFEDC3}</Guid>
				<Name>FMDocSrv</Name>
				<Priority>4</Priority>
				<ApplicationID>4</ApplicationID>
				<Config />
			</Service>
			<Service>
				<Guid>{CFA241EA-9FA4-49eb-B93F-3A815A7C0512}</Guid>
				<Name>FMConfSrv</Name>
				<Priority>6</Priority>
				<ApplicationID>11</ApplicationID>
				<Config>
					<TestConfig>
						<WriteSessionData>0</WriteSessionData>
						<ReadSessionData>0</ReadSessionData>
						<ReadSessionDataFrom>0</ReadSessionDataFrom>
						<ReadLoopCount>1</ReadLoopCount>
					</TestConfig>
					<MainService>1</MainService>
					<PhoneAccess>1</PhoneAccess>
					<ForceAVMix>0</ForceAVMix>
					<MixConfig>AVMixConfig.xml</MixConfig>
                    <MigrateServiceConfig>
                        <ServiceAddr>{{ access_addr }}</ServiceAddr>
                        <ServicePort>{{ access_port }}</ServicePort>
                        <AppID>1</AppID>
                        <AppPwd>vc1</AppPwd>
                    </MigrateServiceConfig>
				</Config>
			</Service>
        </ServiceProcess>
    </ProcessList>
</Root>
